<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Feature.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>
<body>
    <div class="features">
        <div class="feature">
            <div class="feature-icon">
                <img src="/CozyCasa/Assets/Images/Trophy.jpg" alt="">
            </div>
            <div class="feature-text">
                <h2>High Quality</h2>
                <p>crafted from top materials</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="/CozyCasa/Assets/Images/Guarantee.jpg" alt="">
            </div>
            <div class="feature-text">
                <h2>Warranty Protection</h2>
                <p>Over 2 years</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="/CozyCasa/Assets/Images/Shipping.jpg" alt="">
            </div>
            <div class="feature-text">
                <h2>Free Shipping</h2>
                <p>Order over 150 $</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="/CozyCasa/Assets/Images/Feature_Support.jpg" alt="">
            </div>
            <div class="feature-text">
                <h2>24 / 7 Support</h2>
                <p>Dedicated support</p>
            </div>
        </div>
    </div>
</body>
</html>