<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/Images/banner.png">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Banner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet"></head>

<body>

    <div class="banner">
        <div class="card">
            <div class="content">
                <p id="p1">New Arrival</p>
                <p id="p2">Discover Our <br />New Collection</p>
                <p id="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis.</p>
                    <button class="buy_now_btn">
                        BUY NOW
                    </button>
            </div>
            <!-- <div >
                <button class="buy_now_btn">
                    BUY NOW
                </button>
            </div> -->
        </div>
    </div>

</body>

</html>