<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Group115.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400,500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="group115">
        <p id="title1">Browse The Range</p>
        <p id="title2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- <div id="image-container">
            <img id="dining" src="/CozyCasa/Assets/Images/Dining1.jpg" alt="">
            <img id="living" src="/CozyCasa/Assets/Images/Living1.jpg" alt="">
            <img id="bedroom" src="/CozyCasa/Assets/Images/Bedroom1.jpg" alt="">
        </div> -->
        <div class="image-container">
            <div class="image-wrapper">
              <img class="image" id="dining" src="/CozyCasa/Assets/Images/Dining1.jpg" alt="Ảnh 1">
              <div class="text">Dining</div>
            </div>

            <div class="image-wrapper">
              <img class="image" id="living" src="/CozyCasa/Assets/Images/Living1.jpg" alt="Ảnh 2">
              <div class="text">Living</div>
            </div>

            <div class="image-wrapper">
                <img class="image" id="bedroom" src="/CozyCasa/Assets/Images/Bedroom1.jpg" alt="Ảnh 2">
                <div class="text">Bedroom</div>
              </div>
        <!-- <ul id="image-container">
            <li><img id="dining" src="/CozyCasa/Assets/Images/Dining1.jpg" alt=""></li>
            <li> <img id="living" src="/CozyCasa/Assets/Images/Living1.jpg" alt=""></li>
            <li><img id="bedroom" src="/CozyCasa/Assets/Images/Bedroom1.jpg" alt=""></li>
        </ul>
        <ul id="title3">
            <li>Dining</li>
            <li>Living</li>
            <li>Bedroom</li>
        </ul> -->
    </div>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Dining.js"></script>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Living.js"></script>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Bedroom.js"></script>
</body>
</html>