<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="header-placeholder"></div>
    <div id="banner-placeholder"></div>
    <div id="group115-placeholder"></div>
    <div id="product-list-placeholder" class="px-28"></div>
    <div id="inspirations-placeholder" class="pb-8"></div>
    <div id="share-placeholder"></div>
    <div id="footer-placeholder"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#header-placeholder").load("/CozyCasa/Assets/HTML/Components/Header/Header.html");
  });
  $(document).ready(function() {
    $("#banner-placeholder").load("/CozyCasa/Assets/HTML/Components/Home/Banner.html");
  });
  $(document).ready(function() {
    $("#group115-placeholder").load("/CozyCasa/Assets/HTML/Components/Home/Group115.html");
  });
  $(document).ready(function() {
    $("#product-list-placeholder").load("/CozyCasa/Assets/HTML/Components/Home/Our_Product.html");
  });
  $(document).ready(function() {
    $("#inspirations-placeholder").load("/CozyCasa/Assets/HTML/Components/Home/Inspirations.html");
  });
  $(document).ready(function() {
    $("#share-placeholder").load("/CozyCasa/Assets/HTML/Components/Home/Share.html");
  });
  $(document).ready(function() {
    $("#footer-placeholder").load("/CozyCasa/Assets/HTML/Components/Footer/Footer.html");
  });
</script>
</body>
</html>