<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Share.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Share">
        <p>Share your setup with</p>
        <a href="/CozyCasa/Assets/HTML/Components/Home/Home.html" class="link">#CozyCasa</a>
        <img class="clickable-image" src="/CozyCasa/Assets/Images/Share.jpg" alt="Ảnh 1">
        <a href="/CozyCasa/Assets/HTML/Components/Shop/Shop.html" class="hidden-link">VISIT SHOP</a>
      </div>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Share.js"></script>
</body>
</html>