/* Reset some default styles */

.about-section {
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text{
    max-width: 600px;
}
.about-header{
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}
.about-content{
    font-size: 16px;
    font-weight: 400;
}
.about-img img{
    border-radius: 10px;
}


