.breadcrumb {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color: #F9F1E7;
    height: 100px;
}

.breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb ul li {
    display: inline;
    color:#9F9F9F;
    padding: 0 7px;
    font-weight: 400;
    font-size: 16px;
}


.breadcrumb ul li i{
    color: black;
}

.filter-divider {
    height: 37px;
    width: 2px;
    background-color: #9F9F9F;
    margin: 0 20px;
}