.comparison-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.comparison-section {
  flex: 1; /* Chia đều không gian theo chiều ngang */
  margin: 0 10px; /* Tạo khoảng cách ngang giữa các sản phẩm */
  padding: 20px;
}

.comparison-header {
  text-align: left;
  margin-bottom: 20px;
  max-width: 225px;
}

.comparison-header-text {
  font-size: 28px;
  font-weight: 500;
}

.viewmore-wrapper {
  position: relative;
  display: inline-block;
}

.comparison-view-more-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #727272;
}

.comparison-view-more-btn:hover {
  color: #B88E2FCC;
  font-weight: 600;
}

.comparison-separator {
  position: absolute;
  bottom: 20;
  width: 100%;
  height: 1px;
  background-color: black;
  pointer-events: none;
}

.comparision-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.comparison-product {
  text-align: left;
  margin: 20px 0;
}

.comparison-product img {
  padding: 20px;
}

.comparison-product-image {
  width: 280px;
  height: 177px;
  background-color: #F9F1E7;
  border-radius: 10px;
}

.comparison-product-name {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 500;
}

.comparison-product-price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.comparison-product-info-rating {
  display: flex;
  align-items: center;
}

.comparison-product-number-rating {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.star-icon {
  margin-right: 2px;
  color: gold;
  font-size: 25px;
}

.comparison-product-info-divider {
  height: 30px;
  border: none;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.comparison-product-info-text {
  font-weight: 400;
  color: #9F9F9F;
}

.comparison-add-product-header h2{
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-top: 70px;
}

.comparison-choose-product select{
  height: 39px;
  width: 242px;
  border-radius: 6px;
  border: none;
  background-color: #B88E2F;
  color: #fff;
  font-weight: 600;
  text-align: left;
  margin-top: 10px;
  padding-left: 20px;
}

.comparison-choose-product select:focus{
  outline: none;
}