.pagination {
    display: flex;
    justify-content: center; 
    font-family: 'Poppins', sans-serif;
    margin-bottom: 64px;
  }
  
  .page-button, .next-button {
    height: 60px;
    width: 60px;
    padding: 10px 15px;
    margin: 0 20px;
    border: none;
    background-color: #F9F1E7;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  .next-button {
    height: 60px;
    width: 98px;
    padding: 10px 15px;
    margin: 0 20px;
    border: none;
    background-color: #F9F1E7;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
  }
  
  .page-button:hover, .next-button:hover {
    background-color: #B88E2F;
    color: #fff;
  }

  #pagination-active{
    background-color: #B88E2F;
    color: #fff;
  }
  
  