<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Blog_Detail.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Pagination.css">
    <title>Blog Tab</title>
</head>

<body>
    <div class="blog-container">
        <div class="blog-section">
            <!-- Phần 1: Các review -->
            <div class="blog-review">
                <img src="/CozyCasa/Assets/Images/Blog1.jpg" alt="Review 1 Image">
                <div class="review-info">
                    <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 14 Oct 2022</span>
                    <span><i class="fa fa-tag" aria-hidden="true"></i></i> Wood</span>
                </div>
                <h2>Going all-in with millennial design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
                    sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero
                    enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis
                    nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt.</p>
                <div class="readmore-wrapper">
                    <button class="readmore-btn">Read More</button>
                    <hr class="shorter-line">
                </div>
            </div>
            <div class="blog-review">
                <img src="/CozyCasa/Assets/Images/Blog2.jpg" alt="Review 1 Image">
                <div class="review-info">
                    <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 14 Oct 2022</span>
                    <span><i class="fa fa-tag" aria-hidden="true"></i></i> Handmade</span>
                </div>
                <h2>Exploring new ways of decorating</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
                    sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero
                    enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis
                    nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt.</p>
                <div class="readmore-wrapper">
                    <button class="readmore-btn">Read More</button>
                    <hr class="shorter-line">
                </div>
            </div>
            <div class="blog-review">
                <img src="/CozyCasa/Assets/Images/Blog3.jpg" alt="Review 1 Image">
                <div class="review-info">
                    <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 14 Oct 2022</span>
                    <span><i class="fa fa-tag" aria-hidden="true"></i></i> Wood</span>
                </div>
                <h2>Handmade pieces that took time to make</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
                    sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero
                    enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis
                    nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt.</p>
                <div class="readmore-wrapper">
                    <button class="readmore-btn">Read More</button>
                    <hr class="shorter-line">
                </div>
            </div>
            <!-- Thêm các review khác nếu cần -->
        </div>

        <div class="blog-section">
            <!-- Phần 2: Thanh tìm kiếm -->
            <div class="search-bar">
                <form action="#" method="GET">
                    <div class="search-input">
                        <input type="text" name="search" placeholder="">
                        <button type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></i></button>
                    </div>
                </form>
                <!-- Thêm mã HTML và CSS cho thanh tìm kiếm nếu cần -->
            </div>
           
            <!-- Phần 2: Bảng categories -->
            <div class="categories">
                <div class="blog-table-header">Categories</div>
                <table>
                    <tr>
                        <td>Crafts</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Design</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Handmade</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Interior</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Wood</td>
                        <td>6</td>
                    </tr>
                </table>
            </div>

            <!-- Phần 2: Bảng Recent Posts -->
            <div class="recent-posts">
                <div class="blog-table-header">Recent Posts</div>
                <table>
                    <tr>
                        <td><img src="/CozyCasa/Assets/Images/Recent_Post1.jpg" alt="Review 2 Image"></td>
                        <td>
                            <div class="recent-posts-head">Going all-in with millennial design</div>
                            <div class="recent-posts-text">03 Aug 2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/CozyCasa/Assets/Images/Recent_Post2.jpg" alt="Review 2 Image"></td>
                        <td>
                            <div class="recent-posts-head">Exploring new ways of decorating</div>
                            <div class="recent-posts-text">03 Aug 2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/CozyCasa/Assets/Images/Recent_Post3.jpg" alt="Review 2 Image"></td>
                        <td>
                            <div class="recent-posts-head">Handmade pieces that took time to make</div>
                            <div class="recent-posts-text">03 Aug 2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/CozyCasa/Assets/Images/Recent_Post4.jpg" alt="Review 2 Image"></td>
                        <td>
                            <div class="recent-posts-head">Modern home in Milan</div>
                            <div class="recent-posts-text">03 Aug 2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/CozyCasa/Assets/Images/Recent_Post5.jpg" alt="Review 2 Image"></td>
                        <td>
                            <div class="recent-posts-head">Colorful office redesign</div>
                            <div class="recent-posts-text">03 Aug 2022</div>
                        </td>
                    </tr>
                    <!-- Thêm các hàng bài viết gần đây khác nếu cần -->
                </table>
            </div>
        </div>
    </div>
    <div class="pagination">
        <button class="page-button" id="pagination-active" onclick="showPage(1)">1</button>
        <button class="page-button" onclick="showPage(2)">2</button>
        <button class="page-button" onclick="showPage(3)">3</button>
        <button class="next-button" onclick="nextPage()">Next</button>
      </div>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Blog_Detail.js"></script>
    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Pagination.js"></script>

</body>

</html>