<!DOCTYPE html>
<html>

<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Contact_Detail.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>

<body>
    <div class="contact-detail">
        <div class="contact-header">Get In Touch With Us</div>
        <div class="contact-text">
            For More Information About Our Product & Services. Please Feel Free To Drop Us </br> An Email. Our Staff Always Be
            There To Help You Out. Do Not Hesitate!
        </div>
        <div class="contact-container">
            <!-- Contact Information Section -->
            <div class="contact-info-text">
                <div class="contact-info">
                    <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="contact-info-text">
                        <div class="contact-text-header">Address</div>
                        <div class="contact-text-content">
                            236 5th SE Avenue, New York NY10000, United States
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="contact-info-text">
                        <div class="contact-text-header">Phone</div>
                        <div class="contact-text-content">
                            Mobile: +(84) 546-6789
                        </div>
                        <div class="contact-text-content">
                            Hotline: +(84) 456-6789
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="contact-info-text">
                        <div class="contact-text-header">Working Time</div>
                        <div class="contact-text-content">
                            Monday-Friday: 9:00 - 22:00
                        </div>
                        <div class="contact-text-content">
                            Saturday-Sunday: 9:00 - 21:00
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info-input">
                <form id="contact-form">
                    <div class="contact-form-input">
                        <label for="your-name" class="contact-form-input-label">Your name</label>
                        <input type="text" class="contact-input" placeholder="Abc" required>
                    </div>

                    <div class="contact-form-input">
                        <label for="email-address" class="contact-form-input-label">Email address</label>
                        <input type="email" class="contact-input" placeholder="Abc@def.com" required>
                    </div>

                    <div class="contact-form-input">
                        <label for="subject" class="contact-form-input-label">Subject</label>
                        <input type="text" class="contact-input" placeholder="This is an optional" required>
                    </div>

                    <div class="contact-form-input">
                        <label for="message" class="contact-form-input-label">Message</label>
                        <textarea class="contact-message" placeholder="Hi! i’d like to ask about" required></textarea>
                    </div>
                    <div class="contact-form-btn">
                        <button type="submit" class="contact-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact Form Section -->

</body>

</html>