<!DOCTYPE html>
<html>

<head>
    <title>Trang Web Của Bạn</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Banner_Tab.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>

<body>
    <!-- Banner -->
    <div class="banner-tab">
        <img src="/CozyCasa/Assets/Images/Banner_Tab.jpg" alt="Banner Image">
        <div class="banner-tab-content">
            <h1>Shop</h1>
            <!-- Breadcrumb -->
            <div class="breadcrumb-banner">
                <ul>
                    <li>Home</li>
                    <li><i class="icon fas fa-angle-right" aria-hidden="true"></i></li>
                    <li>Shop</li>
                    <!-- Nếu bạn chuyển sang tab khác, thêm thẻ <li> mới tương ứng -->
                </ul>
            </div>
        </div>
    </div>

</body>

</html>