<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Comparision_Table.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>

<body>

    <div class="comparision-table">
        <table>
            <tr>
                <td class="comparision-table-header">General</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sales Package</td>
                <td>1 sectional sofa</td>
                <td>1 Three Seater, 2 Single Seater</td>
                <td></td>
            </tr>
            <tr>
                <td>Model Number</td>
                <td>TFCBLIGRBL6SRHS</td>
                <td>DTUBLIGRBL568</td>
                <td></td>
            </tr>
            <tr>
                <td>Secondary Material</td>
                <td>Solid Wood</td>
                <td>Solid Wood</td>
                <td></td>
            </tr>
            <tr>
                <td>Configuration</td>
                <td>L-shaped</td>
                <td>L-shaped</td>
                <td></td>
            </tr>
            <tr>
                <td>Upholstery Material</td>
                <td>Fabric + Cotton</td>
                <td>Fabric + Cotton</td>
                <td></td>
            </tr>
            <tr>
                <td>Upholstery Color</td>
                <td>Bright Grey & Lion</td>
                <td>Bright Grey & Lion</td>
                <td></td>
            </tr>
            <tr>
                <td class="comparision-table-header">Product </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Filling Material</td>
                <td>Foam</td>
                <td>Matte</td>
                <td></td>
            </tr>
            <tr>
                <td>Finish Type</td>
                <td>Bright Grey & Lion</td>
                <td>Bright Grey & Lion</td>
                <td></td>
            </tr>
            <tr>
                <td>Adjustable Headrest</td>
                <td>No</td>
                <td>yes</td>
                <td></td>
            </tr>
            <tr>
                <td>Maximum Load Capacity</td>
                <td>280 KG</td>
                <td>300 KG</td>
                <td></td>
            </tr>
            <tr>
                <td>Origin of Manufacture</td>
                <td>India</td>
                <td>India</td>
                <td></td>
            </tr>
            <tr>
                <td class="comparision-table-header">Dimensions</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Width</td>
                <td>265.32 cm</td>
                <td>265.32 cm</td>
                <td></td>
            </tr>
            <tr>
                <td>Height</td>
                <td>76 cm</td>
                <td>76 cm</td>
                <td></td>
            </tr>
            <tr>
                <td>Depth</td>
                <td>167.76 cm</td>
                <td>167.76 cm</td>
                <td></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>45 KG</td>
                <td>65 KG</td>
                <td></td>
            </tr>
            <tr>
                <td>Seat Height</td>
                <td>41.52 cm</td>
                <td>41.52 cm</td>
                <td></td>
            </tr>
            <tr>
                <td>Leg Height</td>
                <td>5.46 cm</td>
                <td>5.46 cm</td>
                <td></td>
            </tr>
            <tr>
                <td class="comparision-table-header">Warranty</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Warranty Summary</td>
                <td>1 Year Manufacturing Warranty</td>
                <td>1.2 Year Manufacturing Warranty</td>
                <td></td>
            </tr>
            <tr>
                <td>Warranty Service Type</td>
                <td>For Warranty Claims or Any Product Related Issues Please Email at operations@trevifurniture.com</td>
                <td>For Warranty Claims or Any Product Related Issues Please Email at support@xyz.com</td>
                <td></td>
            </tr>
            <tr>
                <td>Covered in Warranty</td>
                <td>Warranty Against Manufacturing Defect</td>
                <td>Warranty of the product is limited to manufacturing defects only.</td>
                <td></td>
            </tr>
            <tr>
                <td>Not Covered in Warranty</td>
                <td>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And Wear &
                    Tear In The Natural Course Of Product Usage.</td>
                <td>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And Wear &
                    Tear In The Natural Course Of Product Usage.</td>
                <td></td>
            </tr>
            <tr>
                <td>Domestic Warranty</td>
                <td>1 Year</td>
                <td>3 Months</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="comparision-btn">
                        <button type="submit" class="comparision-table-btn">Add To Cart</button>
                    </div>
                </td>
                <td>
                    <div class="comparision-btn">
                        <button type="submit" class="comparision-table-btn">Add To Cart</button>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </div>


</body>

</html>