<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Comparision_Product.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>
<body>

<div class="comparison-container">
  <!-- Phần 1: Header -->
  <div class="comparison-section">
    <div class="comparison-header">
      <p class="comparison-header-text">Go to Product page for more Products</p>
      <div class="viewmore-wrapper">
        <button class="comparison-view-more-btn">View More</button>
        <hr class="comparison-separator">
      </div>
    </div>
  </div>

  <!-- Phần 2: Sản phẩm -->
  <div class="comparison-section">
    <div class="comparision-product-container">
      <div class="comparison-product">
        <img src="/CozyCasa/Assets/Images/Comparision1.jpg" alt="Product 1" class="comparison-product-image">
        <p class="comparison-product-name">Asgaard Sofa</p>
        <p class="comparison-product-price">Rs. 250,000.00</p>
        <div class="comparison-product-info-rating">
          <p class="comparison-product-number-rating">4.1</p>
          <div class="comparison-rating">
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">☆</span>
          </div>
          <div class="comparison-product-info-divider"></div>
          <p class="comparison-product-info-text">204 Review</p>
      </div>
      </div>
      <div class="comparison-product">
        <img src="/CozyCasa/Assets/Images/Comparision2.jpg" alt="Product 1" class="comparison-product-image">
        <p class="comparison-product-name">Outdoor Sofa Set</p>
        <p class="comparison-product-price">Rs. 224,000.00</p>
        <div class="comparison-product-info-rating">
          <p class="comparison-product-number-rating">4.2</p>
          <div class="comparison-rating">
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">★</span>
              <span class="star-icon">☆</span>
          </div>
          <div class="comparison-product-info-divider"></div>
          <p class="comparison-product-info-text">145 Review</p>
      </div>
      </div>
    </div>
  </div>

  <!-- Phần 3: Thêm sản phẩm -->
  <div class="comparison-section">
    <div class="comparison-add-product-header">
      <h2>Add A Product</h2>
    </div>
    <div class="comparison-choose-product">
      <select>
        <option value="product3">Choose a Product</option>
        <option value="product3">Asgaard Sofa</option>
        <option value="product4">Outdoor Sofa Set</option>
      </select>
    </div>
  </div>
</div>

</body>
</html>
