<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Breadcrumb.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>
<body>
    <div class="breadcrumb">
        <ul>
            <li>Home</li>
            <li><i class="icon fas fa-angle-right" aria-hidden="true"></i></li>
            <li>Shop</li>
            <li><i class="icon fas fa-angle-right" aria-hidden="true"></i></li>
            <!-- Nếu bạn chuyển sang tab khác, thêm thẻ <li> mới tương ứng -->
        </ul>
        <div class="filter-divider"></div>

        <p id="breadcrumb-product-name">Asgaard sofa</p>
    </div>
</body>
</html>