<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Related_Product.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Our_Product.css">
    <title>Document</title>
</head>

<body>
    <div class="related_product">
        <div id="related-text">Related Products</div>
        <div class="product-list">
            <div class="product" onclick="goToProductPage(event)">
                <img src="/CozyCasa/Assets/Images/Product_List_Home1.jpg" alt="" class="product-image">
                <div class="product-discount">
                    -30%
                </div>
                <div class="overlay">
                    <button class="button-add-to-card" onclick="addToCart(event)">Add to cart</button>
                    <div class="product-btn">
                        <button onclick="share(event)"><i class="icon fas fa-share-alt"></i>Share</button>
                        <button onclick="compare(event)"><i class="icon fas fa-exchange-alt"></i>Compare</button>
                        <button onclick="like(event)"><i class="icon fas fa-heart"></i>Like</button>
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-title">Syltherine</div>
                    <div class="product-description">Stylish cafe chair</div>
                    <div class="product-price">
                        <div class="product-new-price">Rp 2.500.000</div>
                        <div class="product-old-price">Rp 3.500.000</div>
                    </div>
                </div>
            </div>
            <div class="product" onclick="goToProductPage(event)">
                <img src="/CozyCasa/Assets/Images/Product_List_Home2.jpg" alt="" class="product-image">
                <div class="overlay">
                    <button class="button-add-to-card" onclick="addToCart(event)">Add to cart</button>
                    <div class="product-btn">
                        <button onclick="share(event)"><i class="icon fas fa-share-alt"></i>Share</button>
                        <button onclick="compare(event)"><i class="icon fas fa-exchange-alt"></i>Compare</button>
                        <button onclick="like(event)"><i class="icon fas fa-heart"></i>Like</button>
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-title">Leviosa</div>
                    <div class="product-description">Stylish cafe chair</div>
                    <div class="product-price">
                        <div class="product-new-price">Rp 2.500.000</div>
                        <div class="product-old-price">Rp 3.500.000</div>
                    </div>
                </div>
            </div>
            <div class="product" onclick="goToProductPage(event)">
                <img src="/CozyCasa/Assets/Images/Product_List_Home3.jpg" alt="" class="product-image">
                <div class="product-discount">
                    -50%
                </div>
                <div class="overlay">
                    <button class="button-add-to-card" onclick="addToCart(event)">Add to cart</button>
                    <div class="product-btn">
                        <button onclick="share(event)"><i class="icon fas fa-share-alt"></i>Share</button>
                        <button onclick="compare(event)"><i class="icon fas fa-exchange-alt"></i>Compare</button>
                        <button onclick="like(event)"><i class="icon fas fa-heart"></i>Like</button>
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-title">Lolito</div>
                    <div class="product-description">Luxury big sofa</div>
                    <div class="product-price">
                        <div class="product-new-price">Rp 7.000.000</div>
                        <div class="product-old-price">Rp 14.000.000</div>
                    </div>
                </div>
            </div>
            <div class="product" onclick="goToProductPage(event)">
                <img src="/CozyCasa/Assets/Images/Product_List_Home4.jpg" alt="" class="product-image">
                <div class="new-product">
                    New
                </div>
                <div class="overlay">
                    <button class="button-add-to-card" onclick="addToCart(event)">Add to cart</button>
                    <div class="product-btn">
                        <button onclick="share(event)"><i class="icon fas fa-share-alt"></i>Share</button>
                        <button onclick="compare(event)"><i class="icon fas fa-exchange-alt"></i>Compare</button>
                        <button onclick="like(event)"><i class="icon fas fa-heart"></i>Like</button>
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-title">Respira</div>
                    <div class="product-description">Outdoor bar table and stool</div>
                    <div class="product-price">
                        <div class="product-new-price">Rp 500.000</div>
                    </div>
                </div>
            </div>
        </div>

        <button class="show_more_btn">
            Show More
        </button>

    </div>

    <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Product_List.js"></script>
</body>

</html>