<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Pagination.css">
    <link rel="stylesheet" href="/CozyCasa/Assets/CSS/Components/Font_Styles.css">
</head>
<body>
    <div class="pagination">
        <button class="page-button" id="pagination-active" onclick="showPage(1)">1</button>
        <button class="page-button" onclick="showPage(2)">2</button>
        <button class="page-button" onclick="showPage(3)">3</button>
        <button class="next-button" onclick="nextPage()">Next</button>
      </div>
      <script src="/CozyCasa/Assets/JAVASCRIPTS/Components/Pagination.js"></script>
</body>
</html>